* {
    padding: 0;
    margin: 0;
  }
  #header {
    background-image: url(images/roammatebg.png);
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
  .navbar-nav li a {
    float: right;
    color: #fff !important;
  }
  .navbar-brand img {
    width: 195px;
    margin-left: 30px;
  }
  .navbar-toggler {
    border: none !important;
    outline: none !important;
  }
  nav .fa-bars {
    color: #fff;
    font-size: 26px;
  }
  
  /* ----------------welcome text----------- */
  
  .welcome {
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
  }
  .welcome h1 {
    color: #333;
  }
  .welcome .home-btn {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    background-color: #df6000;
  }
  .welcome .btn:focus {
    box-shadow: none;
  }
  
  /* ----------About us--------- */
  
  #about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  #about .col-md-6 {
    padding: 20px, 10px;
  }
  
  #about h3 {
    margin: 20px auto;
  }
  
  
  /* --------------subscribe------------ */
  
  .subscribe {
    padding: 50px 20px;
    background-color: #df6000;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: -160px;
  }
  .subscribe h3,
  .subscribe p {
    color: #fff;
  }
  
  .subscribe .input-group {
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
  }
  .subscribe .form-control {
    border: none;
    background: transparent;
  }
  .subscribe .form-control:focus {
    box-shadow: none;
    background: transparent;
  }
  .subscribe .input-group-append {
    background-image: linear-gradient(to right, #df6000, #ffce64);
    border-radius: 30px;
  }
  .subscribe .input-group-text {
    background: transparent;
    border: none;
    color: #fff;
  }
  .subscribe .btn:focus {
    box-shadow: none;
  }
  /* ---------------footer--------------- */
  #footer {
    margin-top: 80px;
    padding: 100px;
    background-color: #a1a1a1;
    color: #013f7e;
  }
  
  .footer-logo {
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  #footer h1 {
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 700;
  }
  #footer p {
    font-size: 12px;
    text-align: left;
  }
  #footer .city {
    margin-left: 37px;
  }
  #footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
  }
